{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Visi automobiliai</h1>
<p>Visų mūsų servise registruotų automobilių sąrašas:</p>
    <ul>
        <div class="row">
    {% for automobilis in automobiliai %}
        <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
            <div class="card mb-4 shadow">
            {% if automobilis.foto %}
            <img class="card-img-top" src="{{ automobilis.foto.url }}"/>
            {% else %}
            <img class="card-img-top" src="{% static 'img/no-image.png' %}"/>
            {% endif %}
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ automobilis.metai }}</h6>
                    <p class="card-text"><a href="{% url 'automobilis-info' automobilis.id %}">{{ automobilis.modelis }}</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    </ul>
{% if automobiliai.has_other_pages %}
    <ul class="pagination pagination-sm">
        {% for nr in automobiliai.paginator.page_range %}
            {% if automobiliai.number == nr %}
                <li class="page-item active">
                    <a class="page-link">{{ nr }}</a>
                </li>
            {% else %}

            <li class="page-item">
                <a class="page-link" href="?page={{ nr }}">{{ nr }} </a>
            </li>
            {% endif %}
        {% endfor %}

    </ul>

{% endif %}
{% endblock %}