{% extends 'base.html' %}

{% block content %}
    <h1>Visi užsakymai</h1>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}
        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>

</div>
    <table class="table">
        <thead>
            <tr>
                <th>Užsakymo ID</th>
                <th>Paslauga</th>
                <th>Statusas</th>
            </tr>
        </thead>
        <tbody>
            {% for uzsakymas in uzsakymai %}
                <tr>
                    <td><a href="{% url 'uzsakymas-detail' uzsakymas.id %}">{{ uzsakymas.id }}</a></td>
                    <td>
                        <ul>
                            {% for preke in uzsakymas.uzsakymo_prekes.all %}
                                <li>{{ preke.paslauga.pavadinimas }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <p class="{% if uzsakymas.statusas == 0 %} text-muted
                                   {% elif uzsakymas.statusas == 1 %} text-warning
                                   {% elif uzsakymas.statusas == 2 %} text-success
                                   {% elif uzsakymas.statusas == 3 %} text-danger
                                   {% else %} text-muted {% endif %}">
                            <b>{{ uzsakymas.get_statusas_display }}</b>
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}