{% extends 'base.html' %}

{% block content %}
    <h1>Užsakymo ID: {{ uzsakymas.id }}</h1>
    <h2>Klientas:</h2>
    <p><b>Vardas:</b> {{ uzsakymas.automobilis.klientas.vardas }}</p>
    <p><b>Pavardė:</b> {{ uzsakymas.automobilis.klientas.pavarde }}</p>
    <p><b>Email:</b> {{ uzsakymas.automobilis.klientas.email }}</p>
    <p><b>Automobilis:</b> {{ uzsakymas.automobilis.valst_nr }}
        ({{ uzsakymas.automobilis.modelis }} | {{ uzsakymas.automobilis.metai}})</p>
    <h2>Užsakymas:</h2>
    <p><b>Sukurimo data:</b> {{ uzsakymas.sukurimo_data }}</p>
    <p><b>Įmokėta suma:</b> {{ uzsakymas.imoketa_suma }} EUR</p>
    <p><b>Statusas:</b> {{ uzsakymas.get_statusas_display }}</p>
    <h2>Paslaugos:</h2>
<table class="table">
        <thead>
            <tr>
                <th>Paslaugos pavadinimas</th>
                <th>Kiekis</th>
                <th>Vieneto kaina</th>
                <th>Bendra paslaugos kaina</th>
            </tr>
        </thead>
        <tbody>
        {% for preke in uzsakymas.uzsakymo_prekes.all %}
                <tr>
                    <td>{{ preke.paslauga.pavadinimas }}</td>
                    <td>{{ preke.kiekis }}</td>
                    <td>{{ preke.paslauga.kaina }} Eur.</td>
                    <td>{{ preke.paslaugu_kaina }} Eur.</td>
                </tr>
        {% endfor %}
        </tbody>
</table>

    <h4> <b>Bendra visų paslaugų kaina:</b> {{ uzsakymas.bendra_suma }}</h4>
{% endblock %}